@font-face {
  font-family: "EuropeExtendedC";
  src: url("../fonts/europeextendedc.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EuropeExtendedC";
  src: url("../fonts/europeextendedc_bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
